/* SETUP */
@import url('setup/vars.css');
@import url('setup/typography.css');

/* BASICS */
@import url('basics/base.css');
@import url('basics/layout.css');
@import url('basics/helpers.css');

/* COMPONENTS */
@import url('components/main-layout.css');
@import url('components/main-header.css');
@import url('components/editor.css');
@import url('components/gallery.css');
@import url('components/canvas-settings.css');
@import url('components/hidden.css');

/* MQ */
@import url('setup/mq.css');
