* {
  box-sizing: border-box;
}

html {
  font-family: lato-regular, sans-serif;
  font-size: 16px;
  font-family: 'inter', sarif;
  color: var(--clr-txt-base);
}

body {
  margin: 0;
  background-image: url('background/Background Dirt.png');
}

img {
  width: 100%;
}

li {
  cursor: pointer;
}

p {
  width: 80vw;

  text-align: center;
  margin: auto;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

h3 {
  margin: 0;
}

canvas {
  max-height: 600px;
  border-top: 0.3rem solid var(--clr-border-dark);
  border-left: 0.3rem solid var(--clr-border-dark);
  border-bottom: 0.3rem solid var(--clr-border-light);
  border-right: 0.3rem solid var(--clr-border-light);
}

a {
  text-decoration: none;
  color: var(--clr-txt-base);
  font-size: 1.5rem;
}
