* {
  box-sizing: border-box;
}

html {
  font-family: lato-regular, sans-serif;
  font-size: 16px;
  font-family: 'inter', sarif;
}

img {
  width: 100%;
}

li {
  cursor: pointer;
}

p {
  width: 80vw;

  text-align: center;
  margin: auto;
  font-size: 2rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}
