.about {
  background-color: var(--clr-primary-light);

  width: 80vw;
  max-width: 1600px;
  border-radius: 1.5rem;
  padding: 2rem;
  margin-bottom: 3rem;

  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;

  > p {
    max-width: 1600px;
    > a {
      color: #58952d;
      font-weight: bold;
      font-size: 1em;
    }
  }
}

.about-logo {
  width: 40vw;
  margin-inline: auto;
  margin-block: 2rem;
}
