.black-screen {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;

  cursor: pointer;

  transition: opacity 0.6s;

  body.menu-open & {
    /* pointer-events: auto; */
    opacity: 1;
  }
}
