.save-btns-container {
  max-width: 400px;
  grid-template-columns: 1fr 1fr 1fr;

  position: relative;

  > :first-child {
    grid-column: span 2;
  }
}

.btn {
  background-color: var(--clr-border-light);
  font-weight: bold;
  text-transform: uppercase;

  padding-block: 0.5em;
  padding-inline: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--clr-hover);
  }
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--clr-border-dark);
}

.flexible-btn {
  justify-self: end;
  border-radius: 10rem;
  width: max-content;
  height: max-content;
}

.facebook-btn {
  background-color: var(--clr-primary-dark);
  position: absolute;
  top: 120%;
  left: 26%;
  width: max-content;
  bottom: 200px;
  font-size: 1.2rem;
}

.other-btn {
  background-color: var(--clr-primary-dark);
  position: absolute;
  top: 120%;
  left: 58%;
  width: max-content;
  height: 15px;
  font-size: 1.2rem;
}
