.save-btns-container {
  grid-row: 2;
  grid-column: 2;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  /* grid-auto-flow: column; */
  justify-items: center;
  align-items: center;

  justify-self: center;
  align-self: center;
  gap: 0.5rem;

  > :first-child {
    grid-row: 1;
    grid-column: 1 / span 3;
    width: 100%;
  }

  > :nth-child(5) {
    grid-column: 4;
    grid-row: 1;
  }
}

.btn {
  background-color: var(--clr-border-light);
  font-weight: bold;
  text-transform: uppercase;

  padding-block: 0.5em;
  padding-inline: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--clr-hover);
  }
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--clr-border-dark);
}

.flexible-btn {
  justify-self: end;
  border-radius: 10rem;
  width: max-content;
  height: max-content;
  margin-inline-end: 3rem;
  align-self: center;
}

.done-btn {
}

.download-btn,
.facebook-btn,
.other-btn {
  background-color: var(--clr-primary-light);
  width: 4rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.save-btn {
  max-width: auto;
}

.up-down-btn {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  > :first-child,
  :nth-child(2) {
    padding: 0;
    > img {
      width: 20%;
    }
  }
}
