.editor {
  width: 80vw;
  max-height: 80vh;
  padding: 3rem;
  border-radius: 1.5rem;

  display: grid;
  gap: 1rem;

  > :nth-child(2) {
    justify-self: center;
    align-self: center;
    grid-row: 1;
    grid-column: 1;
  }

  > :nth-child(3) {
    grid-row: 1;
    grid-column: 2;
  }

  > :nth-child(4) {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }
  background-color: var(--clr-primary-light);
}
