.gallery {
  width: 80vw;
  margin: 2em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  align-items: center;

  & .upload-img {
    width: 100%;
  }
}
