.gallery {
  background-color: var(--clr-primary-light);

  width: 80vw;
  max-width: 1600px;
  padding: 3rem;
  border-radius: 1.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  align-items: center;

  > .upload-img {
    width: 100%;
    height: 100%;
    border-top: 0.3rem solid var(--clr-border-dark);
    border-left: 0.3rem solid var(--clr-border-dark);
    border-bottom: 0.3rem solid var(--clr-border-light);
    border-right: 0.3rem solid var(--clr-border-light);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;

    > label:hover {
      color: var(--clr-txt--1);
      cursor: pointer;
    }
  }
}

.gallery-img {
  border-top: 0.3rem solid var(--clr-border-dark);
  border-left: 0.3rem solid var(--clr-border-dark);
  border-bottom: 0.3rem solid var(--clr-border-light);
  border-right: 0.3rem solid var(--clr-border-light);
}
