.gallery {
  background-color: var(--clr-primary-light);

  width: 80vw;
  padding: 3rem;
  border-radius: 1.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  align-items: center;

  & .upload-img {
    width: 100%;
  }
}
