.gallery {
  background-color: var(--clr-primary-light);

  width: 80vw;
  max-width: 1600px;
  padding: 3rem;
  border-radius: 1.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  align-items: center;

  > .upload-img {
    width: 100%;
    height: 100%;
    border-top: 0.3rem solid var(--clr-border-dark);
    border-left: 0.3rem solid var(--clr-border-dark);
    border-bottom: 0.3rem solid var(--clr-border-light);
    border-right: 0.3rem solid var(--clr-border-light);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    > label:hover {
      color: var(--clr-txt--1);
      cursor: pointer;
    }
  }
}

.gallery-img {
  border-top: 0.3rem solid var(--clr-border-dark);
  border-left: 0.3rem solid var(--clr-border-dark);
  border-bottom: 0.3rem solid var(--clr-border-light);
  border-right: 0.3rem solid var(--clr-border-light);
}

.gallery-search-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.gallery-input {
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
  align-self: end;

  background-color: var(--clr-border-light);
}

.search-words {
  background-color: rgb(81, 171, 90);
  width: 100%;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
