.gallery-layout {
  background-color: var(--clr-primary-light);

  border-radius: 1.5rem;
  margin-bottom: 3rem;

  display: grid;
}

.gallery-search-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 3.5rem;
  margin-bottom: 1rem;

  > :nth-child(3) {
    grid-column: 2;
  }

  > :nth-child(4) {
    grid-column: span 2;
  }
}

.gallery-input {
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
  margin-inline: 3rem;
  border: none;

  align-self: end;

  cursor: pointer;
  color: var(--clr-txt-base);
  background-color: var(--clr-primary-dark);
}

.search-words {
  background-color: var(--clr-primary-dark);

  width: 1fr;
  padding: 1rem;
  margin-inline: 3rem;
  border-bottom-left-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
  border-top-right-radius: 1.3rem;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &::after {
    content: 'top search result:';

    background-color: var(--clr-primary-dark);
    font-size: 1.4rem;
    padding-block: 0.6rem;
    padding-inline: 1rem;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;

    text-transform: uppercase;

    position: absolute;
    top: 0;
    left: 0;
    translate: 0 -100%;
  }
}

.gallery {
  background-color: var(--clr-primary-light);

  width: 80vw;
  max-width: 1600px;
  padding: 3rem;
  border-radius: 1.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  align-items: center;

  > .upload-img {
    width: 100%;
    height: 100%;
    border-top: 0.3rem solid var(--clr-border-dark);
    border-left: 0.3rem solid var(--clr-border-dark);
    border-bottom: 0.3rem solid var(--clr-border-light);
    border-right: 0.3rem solid var(--clr-border-light);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    > label:hover {
      color: var(--clr-txt--1);
      cursor: pointer;
    }
  }
}

.gallery-img {
  border-top: 0.3rem solid var(--clr-border-dark);
  border-left: 0.3rem solid var(--clr-border-dark);
  border-bottom: 0.3rem solid var(--clr-border-light);
  border-right: 0.3rem solid var(--clr-border-light);
}
