.icons-container {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(3, 5rem) 4rem;
  grid-template-rows: repeat(3, 5rem) 4rem;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;

  > :nth-child(4) {
    grid-column: 4;
    grid-row: span 3;
  }

  :nth-child(11) {
    grid-column: 1;
    grid-column: span 3;
  }
}

.icon {
  width: auto;
  max-width: 60%;
  cursor: pointer;

  :nth-child(4) & {
    max-width: 90%;
  }
}

.icon-cell {
  background-color: var(--clr-primary-dark);

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 0.3rem solid var(--clr-border-dark);
  border-left: 0.3rem solid var(--clr-border-dark);
  border-bottom: 0.3rem solid var(--clr-border-light);
  border-right: 0.3rem solid var(--clr-border-light);

  &:nth-child(4) {
    display: grid;
    grid-template-rows: 1fr 0;
  }

  &:hover {
    background-color: var(--clr-hover);
    cursor: pointer;
  }
}
