.main-header {
  padding-inline: 1rem;
  padding-block-end: 5rem;

  background-image: url('/icons/Background Grass.png');
}

.nav-list {
  gap: 2rem;
  font-size: 1.5rem;

  > li:hover {
    color: rgb(84, 84, 84);
  }
}
