.modal-meme-saved {
  background-color: rgb(249, 227, 58);
  border: 1px solid rgb(0, 0, 0);
  bottom: 75%;
  font-size: 1.5rem;
  pointer-events: none;
}

.modal-meme-saved::backdrop {
  background: transparent;
  pointer-events: none;
}
