@media (max-width: 1080px) {
  .editor {
    width: 90vw;
  }

  .main-nav {
    display: none;
  }

  .btn-toggle-menu {
    display: block;
  }

  .btn-toggle-menu {
    z-index: 1;
  }

  .mobile-nav {
    display: block;

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    > ul {
      font-size: 1.2rem;
      display: grid;
      padding: 0;

      > li {
        padding: 0.8rem;
        width: 80vw;
      }
    }
  }
}

/* mobile only */
@media (max-width: 850px) {
  .editor {
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    > :nth-child(2) {
      grid-row: 1;
      grid-column: 1;
    }

    > :nth-child(3) {
      grid-row: 2;
      grid-column: 1;
    }

    > :nth-child(4) {
      grid-row: 3;
      grid-column: 1;
    }
  }

  canvas {
    min-width: 400px;
  }

  p {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 480px) {
  .gallery {
    padding: 0.3rem;
    border-radius: 0px;
  }

  canvas {
    min-width: 300px;
  }

  .save-btns-container {
    width: max-content;
    justify-self: center;
  }

  .icon {
    width: 25px;
  }

  .icons-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icon-cell {
    /* width: 50px;
    height: 50px; */
  }
}
