
@media (max-width: 1080px) {
  .editor {
     width: 90vw;
  }
}

/* mobile only */
@media (max-width: 850px) {
  .editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    > :nth-child(2) {
      grid-row: 1;
      grid-column: 1;
    }

    > :nth-child(3) {
      grid-row: 2;
      grid-column: 1;
    }

    > :nth-child(4) {
      grid-row: 3;
      grid-column: 1;
    }
  }

  canvas {
    min-width:400px;
}

/* Medium BP */



/* Large BP */

@media (min-width: 1100px) {
}
