@media (max-width: 1200px) {
  .editor {
    width: 90vw;
  }

  .icons-container {
    display: grid;
    grid-template-columns: repeat(3, 5rem) 4rem;
    grid-template-rows: repeat(3, 5rem) 4rem;
  }

  .icon {
    :nth-child(4) & {
      padding-block: 5.5rem;
    }
  }

  .main-nav {
    display: none;
  }

  .btn-toggle-menu {
    display: block;
  }

  .btn-toggle-menu {
    z-index: 1;
  }

  .mobile-nav {
    display: block;

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    > ul {
      font-size: 1.2rem;
      display: grid;
      padding: 0;

      > li {
        padding: 0.8rem;
        width: 80vw;
      }
    }
  }
}

/* mobile only */
@media (max-width: 850px) {
  .search-words {
    display: none;
  }

  .gallery-search-container {
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    gap: 0rem;
    margin-bottom: 0;
  }

  .gallery-input {
    padding: 0.5rem;

    margin-inline: 0.5rem;
  }

  .gallery {
    padding: 0.5rem;
  }

  .editor {
    justify-content: center;
    align-items: center;
    max-height: max-content;
    margin-bottom: 3rem;
    > :nth-child(2) {
      grid-row: 1;
      grid-column: 1;
    }

    > :nth-child(3) {
      grid-row: 2;
      grid-column: 1;
    }

    > :nth-child(4) {
      grid-row: 3;
      grid-column: 1;
    }
  }

  canvas {
    min-width: 400px;
  }

  p {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 480px) {
  .gallery-layout {
    justify-items: center;
  }

  .gallery {
    padding: 0.3rem;
    border-radius: 0px;
  }

  .gallery-input {
    padding: 0.5rem;
    margin-inline: 0.5rem;
  }

  .save-btns-container {
    width: max-content;
    justify-self: center;
  }

  .icon {
    width: 40px;
  }
}

@media (max-width: 415px) {
  .canvas-settings {
    grid-template-rows: 100px 220px;
  }

  .icons-container {
    grid-template-columns: repeat(3, 3.5rem) 3rem;
    grid-template-rows: repeat(3, 3.5rem) 3rem;
    justify-content: center;
    height: max-content;
  }

  .text-input {
    /* min-width: 10px; */
    font-size: 0.8rem;
  }

  .setting-header {
    font-size: 1.5rem;
  }
  .icon {
    max-width: 25px;

    :nth-child(4) & {
      padding-block: 2.5rem;
    }
  }

  canvas {
    min-width: 250px;
  }
}
