@media (max-width: 1250px) {
  .main-nav {
    display: none;
  }

  .btn-toggle-menu {
    display: block;
  }

  .btn-toggle-menu {
    z-index: 1;
  }

  .mobile-nav {
    display: block;

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    > ul {
      font-size: 1.2rem;
      display: grid;
      padding: 0;

      > li {
        padding: 0.8rem;
        width: 80vw;
      }
    }
  }

  .main-layout {
  }
}

@media (max-width: 1100px) {
  .gallery-layout {
    justify-items: center;
  }

  .search-words {
    display: none;
  }

  .gallery-search-container {
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    margin-bottom: 0;
  }

  .gallery-input {
    padding: 0.5rem;
  }

  .gallery {
    padding: 0.5rem;
  }

  .editor {
    grid-template-columns: 1fr;

    /* min-width: 95vw; */
    padding: 0.5rem;
    border-radius: 0;

    > :nth-child(2) {
      grid-row: 1;
      grid-column: 1;
      min-width: 95vw;
      max-height: none;
      min-height: 0;
    }

    > :nth-child(3) {
      grid-row: 2;
      grid-column: 1;
    }

    > :nth-child(4) {
      grid-row: 3;
      grid-column: 1;
    }
  }

  p {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 550px) {
  .editor {
    padding: 0rem;

    > :nth-child(2) {
      width: 95vw;
    }
  }

  .main-layout {
    display: grid;
    grid-template-columns: 100vw;

    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    > .editor {
      grid-row: 1;
    }
  }
  /* .gallery {
    padding: 0.3rem;
    border-radius: 0px;
  }

  .gallery-input {
    padding: 0.5rem;
    margin-inline: 0.5rem;
  }

  .save-btns-container {
    width: max-content;
    justify-self: center;
  }

  .icon {
    width: 40px;
  }

  .btn {
    font-size: 1rem;
  } */
}

@media (max-width: 380px) {
  .canvas-settings {
    grid-template-rows: 100px 220px;
  }

  .icons-container {
    grid-template-columns: repeat(3, 3.5rem) 3rem;
    grid-template-rows: repeat(3, 3.5rem) 3rem;
  }

  .text-input {
    font-size: 0.8rem;
  }

  .setting-header {
    font-size: 1.5rem;
  }
  .icon {
    max-width: 25px;

    :nth-child(4) & {
      padding-block: 2.5rem;
    }
  }

  .save-btns-container {
    margin: 1rem;
    > * {
      font-size: 1rem;
    }
  }
}
