@media (max-width: 1080px) {
  .editor {
    width: 90vw;
  }

  .main-nav {
    display: none;
  }

  .btn-toggle-menu {
    display: block;
  }
  .mobile-nav {
    display: flex;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    > ul {
      font-size: 1.2rem;

      > li {
        padding: 0.8rem;
        width: 10rem;
      }
    }
  }
}

/* mobile only */
@media (max-width: 850px) {
  .editor {
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    > :nth-child(2) {
      grid-row: 1;
      grid-column: 1;
    }

    > :nth-child(3) {
      grid-row: 2;
      grid-column: 1;
    }

    > :nth-child(4) {
      grid-row: 3;
      grid-column: 1;
    }
  }

  canvas {
    min-width: 400px;
  }

  p {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.7rem;
  }
}
