:root {
  /* palette */
  --clr-primary-light: #d9d9d9;
  --clr-primary-dark: #bababa;

  --clr-txt--1: #989898;
  --clr-txt-base: #4c4c4c;

  --clr-border-light: #ededed;
  --clr-border-dark: #898989;

  --clr-hover: #cfcfcf;
}
